form fieldset {
    float: left;
    width: 48%;
}

.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    background: rgb(241, 241, 241);
    border-radius: 7px;
}

.flexbox-container>div {
    width: 50%;
    padding: 10px;
}

.flexbox-container>div:first-child {
    margin-right: 12%;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-card {
    margin-top: 30px;
    margin: 30px auto;
    width: 50%;
}

.matCardStyle {
    display: flex;
    justify-content: center;
}